.imjs-default {
	display: none;
}

/*
	BAR
*/

div#imjs-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: #E3E2E2;			/* #f0efed */
	border: solid #C3C3C3;			/* #cfceca; */
	border-width: 1px 1px 0 1px;
	width: 94%;
	margin: 0 3%;
}

ul#imjs-bar {
	display: block;
	border-top: 1px solid #fff;
	width: 100%;
	height: 25px;					/* replace with height of li elements ? */
	list-style: none;
	padding: 0;
	margin: 0;
	font: 12px Arial, Helvetica, Calibri, Tahoma, Verdana, sans-serif;
	color: #222;					/* almost black */
}

/*
	WRAPPER LIST ITEM
*/

ul#imjs-bar > li {
	position: relative;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px #fff;
}

ul#imjs-bar > li:hover {
	background: #fff;
}

ul#imjs-bar > li#imjs-friends,
ul#imjs-bar > li.imjs-tab,
ul#imjs-bar > li.imjs-scroll {
	float: right;
	border-left: 1px solid #cecece;
}

ul#imjs-bar > li.imjs-application-tab {
	float: left;
/*	border-right: 1px solid #cecece; */
}

/*
	APPLICATION MENU ITEMS
*/

ul#imjs-bar div.imjs-application-button {
	height: 16px;
	width: 16px;
	line-height: 16px;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
/*	text-indent: -9999px; */
}

ul#imjs-bar div.home {
	background: url(images/menu/toolbar_home.png) no-repeat 5px center;
	width: auto;
	padding-left: 25px;
	padding-right: 5px;
	border-right: 1px solid #bbb;
/*	text-indent: 0; */
}

ul#imjs-bar div.profile {
	background: url(images/menu/toolbar_view_profile.png) no-repeat center center;
}

ul#imjs-bar div.editprofile {
	background: url(images/menu/toolbar_edit_profile.png) no-repeat center center;
}

ul#imjs-bar div.contacts {
	background: url(images/menu/toolbar_contacts.png) no-repeat center center;
}

ul#imjs-bar div.messages {
	background: url(images/menu/toolbar_letter.png) no-repeat center center;
}

ul#imjs-bar div.search {
	background: url(images/menu/toolbar_search.png) no-repeat center center;
}

ul#imjs-bar div.videos {
	background: url(images/menu/toolbar_videos.png) no-repeat center center;
}

/*
	APPLICATION MENU TOOLTIPS
*/

ul#imjs-bar div.imjs-application-button small {
	text-align: center;
	width: 80px;
	height: 30px;
	background: url(images/menu/toolbar_bubble.png) no-repeat left top;
	padding-top: 10px;
	display: none;
	color: purple;
	font-size: 11px;
	font-weight: bold;
	text-indent: 0;
	position: absolute;
	bottom: 23px;
	left: -23px;
	margin-left: 0px;
	text-shadow: none;
}

ul#imjs-bar div.home small {
	left: 0px;
}

ul#imjs-bar div.imjs-application-button:hover small {
	display: block;
	z-index: 9999;
}

/*
	BAR ITEM: CHAT BUTTON
*/

/* toggle button */
ul#imjs-bar div.imjs-button {
	width: 150px;
	height: 16px;
	line-height: 16px;
	padding: 5px 0px 5px 5px;
	margin-right: 25px;
	cursor: pointer;
}

ul#imjs-bar > li.imjs-selected div.imjs-button {
	width: 149px;
	font-weight: bold;
}

/* online status bullet */
ul#imjs-bar > li .imjs-bullet {
	font-size: 28px;
	font-weight: bold;
	margin-right: 5px;
	line-height: 16px;
	float: left;
	color: #0C0;
}

ul#imjs-bar > li.imjs-available .imjs-bullet {
	color: #0C0;
}

ul#imjs-bar > li.imjs-offline .imjs-bullet {
	color: #777;
}

ul#imjs-bar > li.imjs-away .imjs-bullet {
	color: #df9b00;
}

/* close link */
ul#imjs-bar a.imjs-bar-close {
	position: absolute;
	top: 9px;		/* manual vertical center, needed because we use position:absolute and need to hide the x with height:0 */
	right: 5px;
	height: 0;				/* hide x in HTML */
	width: 10px;			/* width of background image */
	padding-top: 10px;		/* give height to diplay background image */
	overflow: hidden;
	background: url(images/closemin.png) 0 0 no-repeat;
	display: none;
	outline: none;
}

ul#imjs-bar > li:hover a.imjs-bar-close {
	display: inline;
}

/*
	BAR ITEM: FRIENDS LIST BUTTON
*/

li#imjs-friends {
	cursor: pointer;
}

li#imjs-friends.imjs-not-connected,
li#imjs-friends.imjs-not-connected:hover {
	height: 23px;
	line-height: 23px;
	width: 27px;
	background-image: url(images/error.png);
	background-position: center;
	background-repeat: no-repeat;
}

#imjs-friends.imjs-not-connected div.imjs-button {
	margin-left: -10000px;
}

#imjs-friends div.imjs-button span.imjs-count {
	color: #888;
}

#imjs-friends div.imjs-button span.imjs-count span {
	color: #222;
	font-weight: 700;
}

/*
	PUSHING BUTTONS UP TO CONNECT WITH POPUP PANELS
*/

/* variant a) margin-top: -1 */
ul#imjs-bar > li.imjs-selected,
ul#imjs-bar > li#imjs-friends.imjs-selected {
	text-shadow: 0 1px 0 #eaeaea;
	background: #fff;
	color: #000;
	border: solid #444;
	border-width: 0 1px 1px 1px;
	margin: -1px 0 0;
}

/* variant b) bottom: 1px */
/*
ul#imjs-bar > li.imjs-selected,
ul#imjs-bar > li#imjs-friends.imjs-selected {
	text-shadow: 0 1px 0 #eaeaea;
	background: #fff;
	color: #000;
	border: solid #444;
	border-width: 0 1px 1px 1px;
	position: relative;
	bottom: 1px;
	z-index: 200;
}
*/

/*
	CHATBOX
*/

ul#imjs-bar div.imjs-chatbox {
	position: absolute;
	display: block;
	bottom: 25px;
	right: -1px;
	width: 225px;
	border: 1px solid #444;	/* #cecece */
	border-bottom: 0;
	font: 12px/14px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	color: #000;
	cursor: default;
	text-shadow: none;
}

/*
ul#imjs-bar > li.imjs-selected > div.imjs-chatbox {
	xborder-color: #444;
	padding-bottom: 1px;
	background-image: url(images/bottom.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}
*/

/* 
	CHATBOX HEADER
*/

ul#imjs-bar div.imjs-header {
	width: 225px;
	background-color: #f0efed;
	border-bottom: 1px solid #999;
	font-weight: 700;
/*	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc; */
	text-shadow: 0 1px 0 #fff;
	color: #333;
	background: #f0efed url(images/closemin.png) 91% -12px no-repeat;
}

ul#imjs-bar div.imjs-header div {
	width: 202px;
	height: 12px;
	line-height: 12px;
	padding: 5px 0px 5px 5px;
	cursor: pointer;
}

ul#imjs-bar div.imjs-header a.imjs-close {
	position: absolute;
	top: 6px;
	right: 5px;
	height: 0;
	width: 10px;
	padding-top: 10px;
	overflow: hidden;
	background: url(images/closemin.png) 0 0 no-repeat;
	outline: none;
}

/*
	MESSAGE LOG
*/

ul#imjs-bar ul.imjs-msglog {
	display: block;
	overflow-y: auto;
	height: 235px;
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	border-bottom: 1px solid #ddd; */
	background: #fff;
}

ul#imjs-bar ul.imjs-msglog li.imjs-date {
	display: block;
	padding: 5px 5px 3px 8px;
	border-bottom: 1px dotted #afafaf;
	background-color: #e9e9e9;
}

ul#imjs-bar ul.imjs-msglog li.imjs-error {
	display: block;
	padding: 0 5px 3px 8px;
	border-top: 1px dotted #afafaf;
	background-color: #ffeded;
	color: #ff0000;
}

ul#imjs-bar ul.imjs-msglog li.imjs-error span.imjs-msg-time {
	color: #ff0000;
}

ul#imjs-bar ul.imjs-msglog li.imjs-msg-a,
ul#imjs-bar ul.imjs-msglog li.imjs-msg-b {
	display: block;
	padding: 3px 5px 3px 8px;
	border-top: 1px dotted #bfbfbf;
}

ul#imjs-bar ul.imjs-msglog li.imjs-msg-b > span {
	color: #ff0000;
	font-weight: 700;
}

ul#imjs-bar ul.imjs-msglog li.imjs-msg-a > span {
	color: #0099ff;
	font-weight: 700;
}

ul#imjs-bar ul.imjs-msglog li.imjs-msg-old {
	opacity: 0.4;
}

/* Message Log Messages */
ul#imjs-bar ul.imjs-msglog li ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 14px;
}

ul#imjs-bar ul.imjs-msglog li ul span {
	float: left;
	margin-right: 5px;
	color: #bcbcbc;
}

ul#imjs-bar li.imjs-msg-a ul p, li.imjs-msg-b ul p, li.imjs-date ul p {
	margin: 0;
}

/*
	MESSAGE INPUT
*/

ul#imjs-bar textarea.imjs-input {
	font: 12px/14px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	height: 18px;
	padding: 3px;
	margin: 0;
	width: 219px;
	border: solid #aaa;
	border-width: 1px 0 0 0;
	overflow: hidden;
}

/*
	FRIENDS PANEL
*/

ul#imjs-bar div#imjs-friends-panel.imjs-chatbox {
	background-color: #fff;
	width: 200px;
	right: auto;
	left: -1px;
	z-index: 100;
	display: none;
}

/* there is no background
#imjs-friends.imjs-selected > div#imjs-friends-panel.imjs-chatbox 
	background-repeat: repeat-x;
	background-position: -45px bottom;
}
*/

div#imjs-friends-panel div.imjs-header {
	width: 200px;
	background-color: #f0efed;
	border-bottom: 1px solid #999;
	font-weight: 700;
/*	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc; */
	text-shadow: 0 1px 0 #fff;
	color: #333;
	background: #f0efed url(images/closemin.png) 98% -12px no-repeat;
}

div#imjs-friends-panel div.imjs-header div {
	width: 195px;
}

div#imjs-friends-panel a.imjs-friends-minimize {
	width: 195px;
	outline: 0;
}

ul#imjs-friends-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font: 12px/25px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

ul#imjs-friends-list li {
	width: 200px;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul#imjs-friends-list li.imjs-friend-group div.imjs-friend-group-header {
	padding-left: 5px;
	font-weight: 700;
	border-top: 1px solid #aaa;
	cursor: default;
}

ul#imjs-friends-list li.imjs-friend-group ul {
	margin-bottom: 5px;
	padding: 0;
}

ul#imjs-friends-list li.imjs-friend-group ul li {
	cursor: pointer;
}

ul#imjs-friends-list li.imjs-friend-group ul li:hover {
	background: #05A;
	color: #FFF;
}

ul#imjs-friends-list li.imjs-friend-group ul li > strong {
	position: relative;
	color: #0C0;
	font-size: 28px;
	line-height: 15px;
	top: 6px;
	margin: 0 5px;
}

ul#imjs-friends-list li.imjs-friend-group ul li.imjs-offline > strong {
	color: #777;
}

ul#imjs-friends-list li.imjs-friend-group ul li.imjs-away > strong {
	color: #df9b00;
}

ul#imjs-friends-list li.imjs-friend-group ul li.imjs-selected { /* only makes sense if panel is not closed after selection */
	background: #686868;
	color: #eee;
	font-weight: 700;
	text-shadow: 0 1px 0 #333;
}

div#imjs-friends-panel form,
div#imjs-friends-panel form p {
	margin: 0;
	padding: 0;
}

input#imjs-search-friends {
	font: 12px Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	height: 16px;
	width: 194px;
	padding: 6px 3px 3px;
	margin: 0;
	border: solid #aaa;
	border-width: 1px 0 0 0;
	color: #aaa;
}

/*
	SCROLL BUTTONS
*/

ul#imjs-bar > li.imjs-scroll {
	display: none;
}

ul#imjs-bar > li.imjs-scroll div{
	height: 16px;
	line-height: 16px;
	font-size: 9px;
	font-weight: 700;
	cursor: pointer;
}

li#imjs-scroll-left div {
	padding: 5px 5px 5px 2px;
	background-image: url(images/sl.gif);
	background-position: right center;
	background-repeat: no-repeat;
}

li#imjs-scroll-right div{
	padding: 5px 2px 5px 5px;
	background-image: url(images/sr.gif);
	background-position: left center;
	background-repeat: no-repeat;
}

/*
	NOTIFICATION ICON
*/

ul#imjs-bar span.imjs-notification {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	right: -9px;
	top: -12px;
	padding: 2px;
	line-height: 16px;
	background: #eb2121;
	color: #fff;
	text-shadow: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
/*	border-radius: 3px;				throws css error */
	overflow: hidden;
	text-align: center;
}

/*
	TOOLTIP
*/

span.imjs-tooltip {
	display: none;
	position: absolute;
	padding-bottom: 5px;
	margin: 0 0 3px 6px;
	left: -10000px;
	background: url(images/tooltip.png) right bottom no-repeat;
	color: #fff;
	text-shadow: none;
	opacity: 0.9;
	width: auto;
}

span.imjs-tooltip span {
	font: 11px/18px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	margin: 0;
	padding: 3px 6px;
	background: #000;
	max-width: 200px;
}

/*
	LOGIN AND REGISTRATION FORM
*/

div#imjs-lr form {
	background: #F0EFED url(images/w.png) repeat-x;
	border: 1px solid #cfceca;
	max-width: 220px;
	padding: 5px 5px 10px 8px;
	overflow: auto;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

div#imjs-lr .error {
	font: 700 12px/18px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	color: #ff0000;
}

div#imjs-lr form fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

div#imjs-lr form h2 {
	font: 700 20px/24px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	margin: 0;
	padding: 7px 0 0 2px;
	color: #555;
	text-shadow: 0 1px 0px #fff;
}

div#imjs-lr form label {
	display: block;
	font: 700 12px/14px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	color: #7B7A79;
}

div#imjs-lr form input {
	width: 200px;
}

div#imjs-lr form input.imjs-lr-error, div#imjs-lr form input.imjs-lr-error:focus {
	margin: -1px;
	border: 2px solid #ff1111;
}

div#imjs-lr form button {
	float: right;
	background: #f4f3f1;
	outline: 0;
}

div#imjs-lr form input, div#imjs-lr form button {
	border: 1px solid #ddd;
	color: #000;
	padding: 4px 3px;
	font: 16px/20px Helvetica Neue, Helvetica, Arial, Calibri, Tahoma, Verdana, sans-serif;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: 0;
}

div#imjs-lr form p {
	padding-left: 2px;
	overflow: visible;
}

div#imjs-lr form input:focus, div#imjs-lr form button:focus {
	position: relative;
	border: 2px solid #999;
	margin: -1px;
}

div#imjs-lr p.imjs-submit {
	width: 207px;
	overflow: visible;
}

form#imjs-login {
	margin-bottom: 10px;
}

/* END */